.main-div {
  margin: 0px 60px 0 60px;
  padding: 15px 90px 0 90px;

  .main-box-div {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    height: 600px;
    border-radius: 15px;
    box-shadow: 9px 14px 27px -1px rgba(0, 0, 0, 0.75);

    background: white;

    .text-area-div {
      padding-top: 50px;
      margin-left: 30px;
      width: 700px;

      overflow-y: auto; // Habilita o scroll vertical apenas quando necessário
      h1,
      h2,
      p {
        padding-bottom: 20px;
      }

      // Estilizando a barra de rolagem
      &::-webkit-scrollbar {
        width: 5px; // Largura da barra de rolagem
      }

      &::-webkit-scrollbar-thumb {
        background-color: #888; // Cor do thumb (alça)
        border-radius: 5px; // Borda do thumb
      }

      &::-webkit-scrollbar-track {
        background-color: #f1f1f1; // Cor de fundo da track (trilha)
        border-radius: 5px; // Borda da track
      }
    }

    .side-bar-div {
      border-right: 1px solid #e0dede;
      width: 200px;
      background: #ebebeb;

      .mac-btn-div {
        margin-top: 5px;
        margin-left: 5px;
        .mac-btn-list {
          display: flex;
          width: 20px;
          gap: 3px;
          list-style: none;

          .mac-btn-red {
            border-radius: 100px;
            background: #cccaca;
            padding: 6px;
          }
          .mac-btn-yellow {
            border-radius: 100px;
            background: #cccaca;
            padding: 6px;
          }
          .mac-btn-green {
            border-radius: 100px;
            background: #cccaca;
            padding: 6px;
          }
        }

        .mac-btn-list:hover {
          .mac-btn-red {
            border-radius: 100px;
            background: red;
            padding: 6px;
            cursor: pointer;
          }
          .mac-btn-yellow {
            border-radius: 100px;
            background: yellow;
            padding: 6px;
            cursor: pointer;
          }
          .mac-btn-green {
            border-radius: 100px;
            background: lawngreen;
            padding: 6px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
